.content#content
    .cube-wrap
        .cube#cube
            .cube__edge.cube__edge_front.js--cube-edge#cube-front front
                .cube__edge.cube__separator.cube__separator_z#cube-separator-z
                include mark

            .cube__edge.cube__edge_back.js--cube-edge#cube-back back

            .cube__edge.cube__edge_right.js--cube-edge#cube-right right

            .cube__edge.cube__edge_left.js--cube-edge#cube-left left
                .cube__edge.cube__separator.cube__separator_x#cube-separator-x

            .cube__edge.cube__edge_top.js--cube-edge#cube-top top

            .cube__edge.cube__edge_bottom.js--cube-edge#cube-bottom bottom
                .cube__edge.cube__separator.cube__separator_y#cube-separator-y