.container
    .cube
        .cube__edge.cube__edge_front#cube-front front
        .cube__edge.cube__edge_back#cube-back back
        .cube__edge.cube__edge_right#cube-right right
        .cube__edge.cube__edge_left#cube-left left
        .cube__edge.cube__edge_top#cube-top top
        .cube__edge.cube__edge_bottom#cube-bottom bottom

        .cube__edge.cube__separator.cube__separator_x#cube-separator-x
        .cube__edge.cube__separator.cube__separator_y#cube-separator-y