.settings
    .settings__info
        p#info
        p.settings__info-caption#current-progress

    .progress#progress

    .legend#legend
        - for(var i = 1; i <= 8; i++)
            .legend__mark
                span.legend__circle(class='legend__circle_#{i}')
                span.legend__name= i

    .settings__content
        .settings__item
            p.settings__title Separators position
            p.settings__caption#separators-position
            .settings__body
                p Separator X
                .slider.slider_separator.js--edge-control-slider(data-axis='x')
                p Separator Y
                .slider.slider_separator.js--edge-control-slider(data-axis='y')
                p Separator Z
                .slider.slider_separator.js--edge-control-slider(data-axis='z')

        .settings__item
            p.settings__title Control
            .settings__body
                p Edges opacity
                .slider#opacity-slider

                button.button#calibration(type='button') Start calibration

        .settings__item
            p.settings__title Mark position
            p.settings__caption#mark-position
            .settings__body
                .sliders-wrap
                    .slider.slider_mark.slider_mark_x.js--edge-control-slider(data-axis='x')
                    .slider.slider_mark.slider_mark_y.js--edge-control-slider(data-axis='y')
                    .slider.slider_mark.slider_mark_z.js--edge-control-slider(data-axis='z')

                button.button.button_set#set(type='button')