.settings
    .settings__item
        p.settings__title Separators position
        p Separator X
        .slider.separator-slider(data-separator-target='x')
        p Separator Y
        .slider.separator-slider(data-separator-target='y')

    .settings__item
        p.settings__title Mark position
