@import 'global';

.cube-wrap {
  width: $cube-size;
  height: $cube-size;
  text-align: center;
  perspective: 1000px;
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__edge {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    opacity: $opacity;
    transition: opacity .3s ease;

    &_front {
      transform: rotateY(0deg) translateZ($cube-size / 2);
      background-color: $color_red;
      transform-style: preserve-3d;
    }

    &_back {
      transform: rotateX(180deg) translateZ($cube-size / 2);
      background-color: $color_orange;
    }

    &_right {
      transform: rotateY(90deg) translateZ($cube-size / 2);
      background-color: $color_green;
    }

    &_left {
      transform: rotateY(-90deg) translateZ($cube-size / 2);
      background-color: $color_blue;
      transform-style: preserve-3d;
    }

    &_top {
      transform: rotateX(90deg) translateZ($cube-size / 2);
      background-color: $color_yellow;
    }

    &_bottom {
      transform: rotateX(-90deg) translateZ($cube-size / 2);
      background-color: $color_violet;
    }
  }

  &__separator {
    background-color: black;
    box-shadow: none;
    opacity: .7;
    transform: translateZ(-$cube-size / 2);

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      top: 50%;
      background-color: white;
      opacity: .5;
      transform: translateZ($cube-size / 2);
    }
  }
}