$cube-size: 200px;
$color_red: rgba(211, 47, 47, .9);
$color_green: rgba(56, 142, 60, .9);
$color_blue: rgba(25, 118, 210, .9);
$color_yellow: rgba(251, 192, 45, .9);
$color_violet: rgba(123, 31, 162, .9);
$color_orange: rgba(230, 74, 25, .9);

$colors: ($color_red, $color_green, $color_blue, $color_yellow, $color_violet, $color_orange, rgba(216, 27, 96, .9), rgba(121, 85, 72, .9));