@import 'global';

.settings {
  width: 100%;
  background-color: #e4e4e4;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .3);

  &__content {
    max-width: 1200px;
    margin: auto;
    min-height: 35vh;
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: percentage(1 / 3);
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
  }

  &__body {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__caption {
    text-align: center;
    margin-bottom: 20px;
    color: $color_red;
    font-size: 11px;
    margin-top: -10px;
  }
}