@import 'global';

.slider {
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 0;
  box-shadow: none;
  height: 16px;

  .noUi-origin {
    background-color: #B0BEC5;
  }

  .noUi-handle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    left: -15px;
    top: -8px;

    &:before,
    &:after {
      content: none;
    }
  }


  &_mark {
    $mark-slider-size: 70px;

    position: absolute;
    top: 0;
    left: 0;
    width: $mark-slider-size;
    height: 8px;

    .noUi-handle {
      left: -10px;
      width: 20px;
      height: 20px;
    }

    &_x {
      top: $mark-slider-size + 15px;
    }

    &_y {
      left: $mark-slider-size + 10px;
      width: 8px;
      height: $mark-slider-size;

      .noUi-handle {
        left: -7px;
      }
    }

    &_z {
      top: $mark-slider-size + 43px;
      left: $mark-slider-size + 10px;
      transform: rotate(45deg);
    }
  }
}