@import 'global';

$size: 5px;

.sphere {
  perspective: 1000px;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  &__circle {
    height: $size;
    width: $size;
    border-radius: 50%;
    position: absolute;
    transform-origin: 50%;
    transform-style: preserve-3d;
    background-color: white;

    $rotation: 0;

    @for $i from 1 through 13 {
      &:nth-child(#{$i}) {

        @if ($i == 8) {
          $rotation: 30;
        }

        transform: rotateX(#{$rotation}deg);
        $rotation: $rotation + 30;
      }
    }
  }

  @for $j from 1 through 8 {
    &_#{$j} {
      .sphere__circle {
        background-color: nth($colors, $j);
      }
    }
  }
}

#mark {
  display: block !important;

  .sphere__circle {
    background-color: white !important;
  }
}